 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dave is an independent consultant living and working in Cincinnati.  He loves his wife, his children and working with teams.</p>
                </div>
                <div class="col-lg-4">
                    <p>Need help leading your development team into Dev Ops adoption?  Need some insight into web application security and performance? Contact Dave below to start the conversation! </p>
                </div>
             
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col-lg-4">
                       <p>Want to know what I value? Check out my <a href="https://docs.google.com/document/d/1-tbcV4vktiYiRRRzAw0QJzBi0SjZbge4QdaP9T5SW6o/edit?usp=sharing"><span class="oi oi-document">personal work manifesto</span></a></p>
                </div>
         </div>
        </div>
    </section>
